force-app/main/default/flows/UpdateResponseTIme.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckStatus</name>
        <label>CheckStatus</label>
        <locationX>262</locationX>
        <locationY>285</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckWorkingCaseStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckWorkingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateResponseTime</targetReference>
            </connector>
            <label>CheckWorkingCaseStatus</label>
        </rules>
        <rules>
            <name>ChekIfStatusClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCase</targetReference>
            </connector>
            <label>ChekIfStatusClosed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckWorkingStatus</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    ISCHANGED({!$Record.Status}),
    TEXT({!$Record.Status}) = &quot;Working&quot;,
    TEXT({!$Record__Prior.Status}) = &quot;New&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ResolutionTime</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ClosedDate} - {!$Record.CreatedDate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ResponseTime</name>
        <dataType>Number</dataType>
        <expression>($Flow.InterviewStartTime - {!$Record.CreatedDate})*24</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>UpdateResponseTIme {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateResponseTIme</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>50</locationX>
        <locationY>436</locationY>
        <inputAssignments>
            <field>Resolution_Time__c</field>
            <value>
                <elementReference>ResolutionTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateResponseTime</name>
        <label>UpdateResponseTimeForWorkingCase</label>
        <locationX>593</locationX>
        <locationY>423</locationY>
        <inputAssignments>
            <field>First_Response_Time__c</field>
            <value>
                <elementReference>ResponseTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>516</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CheckStatus</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
